In [2]:
from WindPy import w
import numpy as np
import pandas as pd
import yfinance as yf

w.start()
w.isconnected()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2024 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

True

In [4]:
Ticker_Start = {'NVDA.O': '1999-01-22',
               'META.O': '2012-05-18',
               'TSLA.O': '2010-06-29',
               'AMZN.O': '1997-05-14',
               'GOOG.O': '2014-03-27',
               'MSFT.O': '1986-03-13',
               'AAPL.O': '1980-12-12'}

In [5]:
ticker = 'NVDA.O'
start_date = '1999-01-22'

data = w.wsd(ticker, 'close, mkt_cap_ard', start_date, '2025-1-24', 'unit=1;Currency=USD;PriceAdj=F', usedf = True)[1]

In [10]:
data.to_csv("NVDA.O.csv")

In [14]:
for ticker, start_date in Ticker_Start.items():
    if ticker == 'NVDA.O':
        continue
        
    data = w.wsd(ticker, 'close, mkt_cap_ard', start_date, '2025-1-24', 'unit=1;Currency=USD;PriceAdj=F', usedf = True)[1]
    
    data.to_csv(ticker + ".csv")

In [16]:
w.stop()

In [18]:
ticker = "SPY"

In [19]:
start_date = "1993-01-29"
end_date = "2025-01-25"

data = yf.download(ticker, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [23]:
data.to_csv('SPY.csv')

In [24]:
data.head()

                Open      High       Low     Close  Adj Close   Volume
Date
1993-01-29  43.96875  43.96875  43.75000  43.93750  24.526081  1003200
1993-02-01  43.96875  44.25000  43.96875  44.25000  24.700518   480500
1993-02-02  44.21875  44.37500  44.12500  44.34375  24.752842   201300
1993-02-03  44.40625  44.84375  44.37500  44.81250  25.014505   529400
1993-02-04  44.96875  45.09375  44.46875  45.00000  25.119167   531500

In [5]:
ticker = "^NDXT"

In [6]:
start_date = "2006-02-22"
end_date = "2025-01-25"

data = yf.download(ticker, start = start_date, end = end_date)

[*********************100%***********************]  1 of 1 completed

In [8]:
data.to_csv('NDXT.csv')

In [9]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2025-01-17,10778.110352,10779.269531,10682.889648,10757.299805,10757.299805,0
2025-01-21,10844.780273,10940.240234,10743.429688,10871.240234,10871.240234,0
2025-01-22,10951.410156,11107.019531,10949.490234,11048.690430,11048.690430,0
2025-01-23,10920.750000,11037.250000,10898.799805,11037.009766,11037.009766,0
2025-01-24,11035.320312,11035.320312,10906.290039,10926.719727,10926.719727,0

In [3]:
Ticker_Start = {'AES.N': '2000-01-01',
               'LNT.O': '2000-01-01',
               'AEE.N': '2000-01-01',
               'AEP.O': '2000-01-01',
               'AWK.N': '2008-04-23',
               'ATO.N': '2000-01-01',
               'CNP.N': '2000-01-01',
               'CMS.N': '2000-01-01',
               'ED.N': '2000-01-01',
               }

In [4]:
for ticker, start in Ticker_Start.items():
    data = w.wsd(ticker, 'close, mkt_cap_ard', start, '2025-02-16', 'unit=1;Currency=USD;PriceAdj=F', usedf = True)[1]
    
    data.to_csv(ticker + '.csv')