#### **Dispersion Based Equity Long/Short**

In [11]:
import wrds
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import date

**Data**

(101594, 101310, 203876, 154402, 107525, 108321, 143439, 108105)

In [35]:
conn = wrds.Connection()

option_q = """ 
    SELECT 
        date, secid, symbol,
        exdate, cp_flag, strike_price,
        best_bid, best_offer, impl_volatility,
        delta, gamma, vega, theta
    FROM 
        optionm_all.opprcd2023
    WHERE 
        secid IN (108105,102442) AND date >= '2023-01-01'

"""

option_data = conn.raw_sql(option_q)

WRDS recommends setting up a .pgpass file.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

https://wrds-www.wharton.upenn.edu/search/company-search/code-lookup/?product_id=274&attribute_type_map=

SEC IDs:
* AAPL: 101594
* AMZN: 101310
* GOOG: 203876
* META: 154402 (also facebook)
* MSFT: 107525
* NVDA: 108321
* TSLA: 143439

* 108105 S&P 500 Index - SPX
* 109764 S&P 100 Index - OEX
* 101507 S&P Midcap 400 Index - MID
* 102442 S&P Smallcap 600 Index - SML

In [42]:
# Clean/Filter Options
option_data['date'] = pd.to_datetime(option_data['date'])
option_data['exdate'] = pd.to_datetime(option_data['exdate'])

option_data['T'] = (option_data['exdate'] - option_data['date']).dt.days
option_data = option_data[(option_data['T'] <= 31) & (option_data['T'] >= 27)]

In [39]:
stock_data = yf.download(tickers=['^GSPC','^SP600'],start = date(2023,1,1), end = date(2023,9,1))['Close']

[*********************100%***********************]  2 of 2 completed

Ticker            ^GSPC       ^SP600
Date
2023-01-03  3824.139893  1155.530029
2023-01-04  3852.969971  1169.430054
2023-01-05  3808.100098  1159.119995
2023-01-06  3895.080078  1185.829956
2023-01-09  3892.090088  1185.959961
...                 ...          ...
2023-08-25  4405.709961  1196.689941
2023-08-28  4433.310059  1206.800049
2023-08-29  4497.629883  1222.819946
2023-08-30  4514.870117  1228.420044
2023-08-31  4507.660156  1226.890015

[167 rows x 2 columns]